<a href="https://colab.research.google.com/github/pauladanielafarias/cheatsheet_python/blob/master/Cheatsheet_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing Python
---

1. Check if you have python installed in your PC and which version:

  - Check for Python 2 (on CMD)
`python --version`

  - Check for Python 3 (on CMD)
`python3 --version`


2. If you don't have it installed, go to https://www.python.org/downloads/ and download the version you want for your OS.

# General
---

## Comments

In [ ]:
#This is a comment.

'''
This
is a 
multiline comment
'''

## Data Types

Python has the following data types built-in by default, in these categories:

- Text Type: `str`
- Numeric Types: `int`, `float`, `complex`
- Sequence Types:	`list`, `tuple`, `range`
- Mapping Type:	`dict`
- Set Types: `set`, `frozenset`
- Boolean Type:	`bool`
- Binary Types:	`bytes`, `bytearray`, `memoryview`

### Get Type

In [ ]:
num = 5
name = "John"
print(type(num))
print(type(name))

<class 'int'>
<class 'str'>

### Casting

In [ ]:
num_str = str(3)    # x will be '3'
num_int = int(3)    # y will be 3
num_float = float(3)  # z will be 3.0

print(num_str)
print(num_int)
print(num_float)

3
3
3.0

- **Note:** You cannot convert complex numbers into another number type.

## Variables

### Declaring variables

- Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.
- Variables do not need to be declared with any particular type, and can even change type after they have been set.
- String variables can be declared either by using single or double quotes.
- Python allows you to assign values to multiple variables in one line (make sure the number of variables matches the number of values, or else you will get an error).
- You can assign the same value to multiple variables in one line.

In [ ]:
#Creating Variables
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

#Many Values to Multiple Variables
fruit1, fruit2, fruit3 = "Orange", "Banana", "Cherry"
print(fruit1)
print(fruit2)
print(fruit3)

#One Value to Multiple Variables
fruit1 = fruit2 = fruit3 = "Orange"
print(fruit1)
print(fruit2)
print(fruit3)

### Variable names
- A variable name must start with a letter or the underscore character
- Variable names are case-sensitive. (age, Age and AGE are three different variables)
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#### Variable naming techniques:

- **Camel Case:** Each word, except the first, starts with a capital letter. Ex: myVariableName.
- **Pascal Case:** Each word starts with a capital letter. Ex: MyVariableName.
- **Snake Case:** Each word is separated by an underscore character. Ex: my_variable_name.

### Types of variables (global or local)

- Variables that are created _outside_ of a function are known as **global** variables. Global variables can be used everywhere, both inside of functions and outside.

- If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
adj = "awesome"

def myfunc():
  adj = "fantastic"
  print("Python is " + adj)

myfunc()

print("Python is " + adj)

- To create a global variable inside a function, you can use the global keyword. Also, you can use the global keyword if you want to change a global variable inside a function.

In [ ]:
adj = "awesome"

def myfunc():
  #change global variable
  global adj
  adj = "fantastic"

  #create a global variable
  global greetings 
  greetings = "Hey! "

myfunc()

print(greetings + "Python is " + adj)

## Output (print)

In [ ]:
print("Hello World!")

### Output Variables

- To combine both text and a variable, Python uses the + character.

In [ ]:
#output variables

adj = "awesome"
print("Python is " + adj)

- If you try to combine a string and a number, Python will give you an error. You need to cast the number to string.

In [ ]:
age = 25
my_age = "My age is "

print(my_age + str(age))

## Operators

### Order of operators
PEMDAS - Parentheses, Exponents, Multiplication/Division, Addition/Subtraction.

# Strings
---

## String Length

- To get the length of a string, use the `len()` function.

In [ ]:
hello_world = "Hello World!"
print(len(hello_world))

12

## Check String

- To check if a certain phrase or character is present in a string, we can use the keyword `in`.
  - Returns True or False

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

- To check if a certain phrase or character is not present in a string, we can use the keyword `not in`.
  - Returns True or False

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

## Slicing

You can return a range of characters by using the slice syntax.

Specify the start index (included) and the end index (not included), separated by a colon, to return a part of the string.

In [ ]:
# Get the characters from position 2 to position 5 (not included):
hello_world = "Hello, World!"
print(hello_world[2:5]) #output: llo

# Slice From the Start - Get the characters from the start to position 5 (not included):
hello_world = "Hello, World!"
print(hello_world[:5])

# Slice To the End - By leaving out the end index, the range will go to the end:
hello_world = "Hello, World!"
print(hello_world[2:])

# Negative Indexing - Use negative indexes to start the slice from the end of the string:
hello_world = "Hello, World!"
print(hello_world[-5:-2])

## Modify Strings

Python has a set of built-in methods that you can use on strings.
- upper()
- lower()
- strip()
- replace()
- split()

### Upper Case - upper()

In [ ]:
# The upper() method returns the string in upper case:
hello_world = "Hello, World!"
print(hello_world.upper())

HELLO, WORLD!

### Lower Case - lower()

In [ ]:
# The lower() method returns the string in lower case:
hello_world = "Hello, World!"
print(hello_world.lower())

hello, world!

### Remove Whitespace - strip()

In [ ]:
# The strip() method removes any whitespace from the beginning or the end:
hello_world = " Hello, World! "
print(hello_world.strip())

Hello, World!

### Replace String - replace()

In [ ]:
# The replace() method replaces a string with another string:
hello_world = " Hello, World! "
print(hello_world.replace("H","J"))

 Jello, World!

### Split String - split()

In [ ]:
# The split() method returns a list where the text between the specified separator becomes the list items:
hello_world = " Hello, World! "
print(hello_world.split(","))

[' Hello', ' World! ']

## Backslash character: **\**

The table below summarizes some important uses of the backslash character.


| What you type  | What you get  | example | 	print(example) |
|---|---|---|---|
| **\** **'** | **'** | 'What**\**'s up?' | What's up? |
|**\** **"** | **"** | "That's **\**"cool**\**"" | That's "cool" |
|**\\** **"** | **\** | "Look, a mountain: /**\**\ " | Look, a mountain: /\ |
|**\** **n** |  | "1**\n**2 3" | 1<br>2 3 |

# Collections (lists, tuples)
---

## Unpack a Collection (unpacking)

- If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables.

In [ ]:
#list
fruits = ["apple", "banana", "cherry"]

#unpacking
x, y, z = fruits

print(x)
print(y)
print(z)

# Python built-in modules
---

## Random Number

In [ ]:
import random as r

### Method random()

- Returns a random float number between 0 and 1

**Syntax:**

```
import random as r
r.random()
```

In [ ]:
#Random number 
random_num = r.random() #output: a float 0.xxxx
print(random_num)

0.49242944381371434

### Method randrange()

- Returns a random number between the given range

**Syntax**:
```
import random as r
r.randrange(start, stop, step)

```

In [ ]:
#Random number with range
random_num_with_range = r.randrange(1, 100) #output: an int from 1 to 100
print(random_num_with_range)

2